.Projects {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.Projects > h1 {
    color: rgba(162, 207, 109, 0.8);
    font-size: 6vh;
    margin: 0;
}

.ProjectList {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    height: fit-content;
    width: 100%;
    padding-bottom: 40px;
}

.Projects button {
    height: 6vh;
    width: 10vw;
    margin-top: 24px;

    background-color: rgba(102, 139, 61, 0.3);
    border-radius: 3vh;
    border: none;
    box-shadow: 0 0 12px 2px rgba(102, 139, 61, 0.4);

    color: rgba(186, 175, 158, 1);
    font-weight: bold;
    font-size: 2vh;
}