@keyframes showGlow {
    100% {
        opacity: 0.6;
    }
}

.glow {
    z-index: -1;
    position: absolute;
    opacity: 0;
    animation: showGlow 1.2s ease-out 0s 1 forwards;

    box-shadow:
        0 0 200px 90px  rgba(143, 184, 97, 0.725),
        0 0 400px 180px rgba(102, 139, 61, 0.725);
}