.Woopsie {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.Woopsie > h1 {
    margin-top: 12vh;
    flex-grow: 1;
    text-align: center;
    color: rgb(162, 207, 109);
}

.Woopsie h3 {
    text-align: center;
    color: rgba(186, 175, 158, 0.8)
}

.Woopsie > div {
    width: 80%;
    height: fit-content;
    background-color: rgba(186, 175, 158, 0.15);
    box-shadow: 0 0 12px 6px rgba(186, 175, 158, 0.15);
    border-radius: 20px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Woopsie img {
    width: 100%;
}

.Woopsie button {
    margin: 2vh 0;
    height: 6vh;
    width: 10vw;

    background-color: rgba(102, 139, 61, 0.3);
    border-radius: 3vh;
    border: none;
    box-shadow: 0 0 12px 2px rgba(102, 139, 61, 0.4);

    color: rgba(186, 175, 158, 1);
    font-weight: bold;
    font-size: 2vh;
}