.sections {
    flex-direction: column;
}

.sections > div {
    height: 100vh;
    width: 100vw;
    opacity: 0;
    transform: translateY(-2vh);

    animation: showSections 1.2s ease 0.4s 1 forwards;
}

.glow {
    z-index: -1;
    position: absolute;
    opacity: 0;
    animation: showGlow 1.2s ease-out 0s 1 forwards;

    box-shadow:
        0 0 200px 90px  rgba(143, 184, 97, 0.725),
        0 0 400px 180px rgba(102, 139, 61, 0.725);
}

.Leaves img {
    position: absolute;
    height: 4vh;

    opacity: 0.15;
}

@keyframes showGlow {
    100% {
        opacity: 0.6;
    }
}

@keyframes showSections {
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}