.Cards {
    aspect-ratio: 1 / 1.4;
    height: 60vh;
    padding: 6px;

    flex-direction: column;
    display: inline-flex;

    background-color: rgba(186, 175, 158, 0.15);
    backdrop-filter: blur(20px);
    border-radius: 60px;
    box-shadow: 0 0 16px 8px rgba(186, 175, 158, 0.15);

    transition: all 0.4s ease 0s;
}

.Cards:hover {
    transform: scale(1.05);

    box-shadow: 0 0 4px 2px rgba(186, 175, 158, 0.15);
}

.Cards img {
    height: 40%;

    border-radius: 56px 56px 0 0;
}

.Cards p, .Cards h1 {
    margin: 0 10px 10px 10px;
    color: rgba(186, 175, 158, 0.8);
}

.Cards h1 {
    font-size: 5vh;
}

.Cards p {
    font-size: 2vh;
}

.separator {
    height: 2px;
    margin: 20px 2%;

    background-color: rgba(186, 175, 158, 0.6);
    border-radius: 20px;
}

.tags {
    display: flex;
    flex-direction: row;
}

.tags div {
    padding: 2px 10px;
    margin: 0 10px;

    background-color: rgba(186, 175, 158, 0.4);
    border-radius: 20px;
    color: rgba(162, 207, 109, 0.8);
    box-shadow: 0 0 6px 0 rgba(186, 175, 158, 0.4);
}