.SkillBox {
    height: 6vh;
    aspect-ratio: 1/1;
    background-color: rgba(186, 175, 158, 0.4);
    border-radius: 20px;
    box-shadow: 0 0 6px 0 rgba(186, 175, 158, 0.4);
    padding: 6px;
}

.SkillBox img {
    height: inherit;
    border-radius: 18px;
}