.Buttons{
    height: 4vh;
    width: 8vw;
    background: none;
    border: solid 2px transparent;
    border-radius: 2vh;
    transition: all 0.4s ease 0s;

    font-size: 1.2vw;
    text-align: center;
    color: rgba(102, 139, 61, 1);
    font-weight: bold;
}

.Buttons:hover{
    border: solid 2px rgba(186, 175, 158, 0.15);
    box-shadow: 1px 1px 4px 0 rgba(186, 175, 158, 0.15);
    transform: translate(-1px, -1px);
}

.Buttons.selected {
    border: solid 2px transparent;
    background-color: rgba(104, 97, 87, 0.15);
}

.Buttons.selected:hover {
    border: solid 2px transparent;
    box-shadow: none;
    transform: none;
}