body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

  background-color: rgb(20, 19, 17);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
  font-family: Fredoka;
  src: url(Fonts/Fredoka-Regular.ttf);
}

* {
  font-family: "Fredoka";
  cursor: none;
}

h1 {
    font-size: 4.6vw;
}

h2 {
    font-size: 3.2vw;
}

h3 {
    font-size: 2.2vw;
}