.Mouse {
    pointer-events: none;
    position: fixed;
    z-index: 11;
    
    aspect-ratio: 1 / 1;
    height: 1.2vh;
    transform: translate(-50%, -50%);

    border: solid 0.6vh;
    border-color: rgb(186, 175, 158);
    border-radius: 50%;

    transition: width 0.3s, 
                height 0.3s, 
                transform 0.3s, 
                border-color 0.3s, 
                backdrop-filter 0.3s;
}

.Mouse.on-hover {
    height: 2vh;

    backdrop-filter: invert();
    border-color: rgba(186, 175, 158, 0);
}