.Footer {
    position: relative;
    height: 16vh;
    width: 100vw;
    display: flex;
    justify-content: center;

    color: rgba(102, 139, 61, 1);
    font-size: 1.4vh;
    font-weight: bold;
}

.Footer p {
    position: absolute;
    bottom: 0;

    text-align: center;
}